body {
  background-color: #CCFFFF
;
}
h1 {
  color: #66BFBF;

}
h3 {
  color: #66BFBF;
  
}
hr {
  background-color: white;
  border-style: dotted;
  border-top: none;
  height: 0;
  width: 30%;
  border-color: grey;
  border-width: 5px;

}
